*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: 'Montserrat', sans-serif;

}
:root{

    /* -------------primary color------------ */
    --purple: #c5b3e5;
    --dark-purple: #36175e;

    /* ------------colors-------------- */
    --light-black: rgba(0, 0, 0, 0.61);
    --sky-blue: #B2EbF2;

    --red: #ef9a9a;
    --light-peacock: #b2dfdb;
    --yellow: #fff9c4;
    --orange: #ffe0b2;
    --grey: #757575;
    --black: #000000;
    --light-white: #eeeeee;
    --dark-blue: #2c3d8f;
    
/* -----------styles-------------- */
    --border-radius: 1rem;
    --transition: all 300ms linear;
    --padding: .8rem 1rem;
    --box-shadow: .2rem 0.2rem .2rem var(--grey);
    --container-width-lg: 88%;
    --container-width-md: 92%;
}

::selection{
    background-color: var(--sky-blue);
    color: var(--black);
}
.window-onscroll{
    box-shadow: .5rem .5rem .5rem var(--light-black);
    border-radius: 0rem 0rem 2rem 2rem;
    background-color: var(--purple);
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--purple);
    color: var(--black);
    overflow-x: hidden;
}
h1, h2{
    font-weight: 400;
    line-height: 1.1;
}
h1{
    color: var(--light-black);
    font-size: 4rem;
}
h2{
    font-size: 3.5rem;
}
a{
    color: var(--dark-purple);
    transition: var(--transition);
}

.container{
    width: var(--container-width-lg);
    margin: 0 auto;
    max-width: 100vw;
}
img{
    width: 100%;
    object-fit: cover;
    display: block;
}
nav{
    /* background-color: var(--dark-purple); */
    height: 5rem;
    width: 100vw;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.nav_container{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}
.nav-btn{
    display: none;
}
.logo{
    font-size: 2rem;
    color: var(--dark-purple);
    font-family: 600;
    letter-spacing: 2px;
    text-shadow: .2rem .2rem .2rem var(--light-black);
    width: 8rem;
}
.nav_links{
    display: flex;
    gap: 4rem;
    font-size: 1.2rem;
    font-family: 700;
}
.social_link{
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
}
.social_link a{
    background: linear-gradient(var(--orange) ,var(--red));
    padding: .1rem .5rem;
    border-radius: .5rem
}
.nav_links a:hover
{

    color: var(--yellow);
}
.social_link a:hover {
    color: var(--yellow);
    box-shadow: var(--box-shadow);
}
header{
    width: 100vw;
    height: 100vh;
    top: 0;
    background: linear-gradient(var(--purple), var(--dark-purple));
    position: relative;
    overflow: hidden;
}
.header_container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10rem;
    margin-top: 10rem;
    position: relative;
}
.header-image-bg{
    position: absolute;
    width: 16rem;
    height: 22rem;
    background-color: var(--dark-purple);
    border-radius: var(--border-radius);
}
.header-image-lg{
    position: relative;
    top: .8rem;
    left: .8rem;
    width: 29rem;
    border-radius: var(--border-radius);
    filter: saturate(0) brightness(0.5);
    
}
.header-image-lg img{
    border-radius: var(--border-radius);
   
}
.header-image-sm{
    position: absolute;
    top: 6rem;
    left: 5rem;
    overflow: hidden;
    width: 28rem;
    height: 28rem;
    border-radius: var(--border-radius);
    transition: var(--transition);
}
.header_left:hover .header-image-sm{
    opacity: 0;
}
.header_left:hover .header-image-lg{
    filter: saturate(1) brightness(1);
    top: 0;
    left: 0;
    border: .7rem solid var(--yellow);
}
.header_left:hover .header-image-lg img{
    border-radius: 0;
}
.header-head{
    display: flex;
    gap: 2rem;
}
.empty{
    height: 3rem;
    width: 18rem;
    margin-bottom: 3.5rem;
    background-color: var(--purple);
    border-radius: 2rem;
    box-shadow: inset 0 1rem .5rem var(--light-black);
}
.header-tag{
    color: var(--orange);
    font-size: 1.2rem;
}
.header_right p{
    width: 85%;
    margin-top: 2rem;
    color: var(--black);
}
.header_frames{
    position: absolute;
    top: 88vh;
    right: 48rem;
    transition: var(--transition);
}
.header_frame{
    width: 14rem;
    position: absolute;
    border: .5rem solid var(--purple);
    border-radius: var(--border-radius);
    box-shadow: 0 0 4rem var(--light-black);
    transform: rotate(-10deg);
    transform-origin: bottom left;
    transition: var(--transition);
}
.header_frame:nth-child(2){
    transform: rotate(15deg);
    top: -1.5rem;
    left: 4rem;
}
.header_frames:hover .header_frame{
    transform: rotate(0);
    
}
.header_frames:hover .header_frame:nth-child(2){
    top: 0;
    left: 15rem;
}
.contact_btn{
    display: grid;
    place-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition);
    color: var(--dark-purple);
}
.header_btn{
    background: linear-gradient(var(--orange) , var(--red));
    position: absolute;
    right: 4rem;
    bottom: -3rem;
}
.header_btn:hover{
    transform: translateY(-1rem);
    box-shadow: 0 0 2rem var(--light-black);

}
.contact_btn p{
    font-size: 1rem;
    font-weight: 600;
    width: 7rem;
    height: 4rem;
    position: absolute;
    /* text-align: center; */
    transform-origin: 0.3rem 5rem;
}


/* ------------about---------------------------- */
#about{
    margin-top: 25rem;
}
.about_container{
    display: grid;
    grid-template-columns: 10rem 26rem auto;
    gap: 3rem;
    position: relative;
}
.about_title{ 
    position: absolute;
    top: -7rem;
    z-index: 1;
    color: var(--dark-purple);
}
.about_btn{
    display: grid;
    place-items: center;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    cursor: pointer;
    transition: var(--transition);
    color: var(--dark-purple);
    background: linear-gradient(var(--orange) , var(--red));
    align-self: end;
}
.about_btn:hover{
    transform: translateY(-1rem);
    box-shadow: 0 0 2rem var(--light-black);
}
.about_image{
    position: relative;
}
.about_image-bg{
    position: absolute;
    width: 16rem;
    height: 24rem;
    bottom: 0;
    background-color: var(--dark-purple);
}
.about_image-lg{
    position: relative;
    bottom: 1rem;
    left: 1rem;
    filter: saturate(0) brightness(0.7);
    transition: var(--transition);
}
.about_image-sm{
    position: absolute;
    top: 3rem;
    left: 8rem;
    height: 22rem;
    width: 22rem;
    overflow: hidden;
    box-shadow: 2rem 2rem 2rem var(--light-black);
    transition: var(--transition);

}
.about_image:hover .about_image-sm{
    opacity: 0;
}
.about_image:hover .about_image-lg{
    filter: saturate(1) brightness(1);
    box-shadow: 0 3rem 3rem var(--light-black);
    border: 1rem solid var(--dark-purple);
    left: 0;
    bottom: 0;
}
.about_right{
    margin-left: 5rem;
}
.about_right p{
    margin-bottom: 0.9rem;
}


/* -------------------Gallary---------------------- */
#gallery{
    margin-top: 10rem;
}
.gallery_head{
    display: flex;
    justify-content: space-between;
}
.gallery_container p{
    width: 45rem;
}
.swiper-wrapper{
    margin-top: 5rem;
    height: 37rem;
    width: fit-content;
    padding-bottom: 5rem;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 36rem;
    overflow: hidden;
    transition: var(--transition);
  }
.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
    height: 100%;
  }